<div id="loginOfflineContainer" style="display: none;">
    <div id="loginOfflineCancelContainer" >
        <button id="loginOfflineCancelButton">
            <div id="loginCancelIcon">X</div>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginOfflineForm">
            <span id="loginSubheader">Iniciar con Nick</span>
            <div class="loginFieldContainer">
                <input id="loginOfflineUsername" class="loginField" type="text" placeholder="Escribe el Nickname"/>
            </div>
            <button id="loginOfflineButton" disabled>
                <div id="loginButtonContent">
                    Iniciar
                </div>
            </button>
        </form>
    </div>
    <script src="./assets/js/scripts/loginOffline.js"></script>
</div>